* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Karla", Helvetica, serif;
	color: #454a4e; /* light gray text color */
	font-size: 1.5vw; /* font size tied to viewport width */
	line-height: 1.75em; /* ems for everything else, so everything tied to vw */
	padding: 2em;
	overflow-x:hidden;
	/* background-color: mistyrose; */
	background: -webkit-linear-gradient(mistyrose, pink, lightpink, coral) fixed;
}


/* TYPE */
a {
	color: black;
	text-decoration: none;
	padding-bottom: .1em;
	border-bottom: .1em solid black;
} a:hover{
	border-bottom: 0;
	background: black;
	color: white;
}

p, ol li, h1 {
	padding-bottom: 1em;
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: normal;
}

ul li {
	font-size: 1em;
	padding-bottom: .5em;
	list-style-type: none;
} ul {
	float: left;
}

h2 {
	font-size: 1.75em;
	line-height: 1.2em;
	font-family: "Yatra One", sans-serif;
	padding-bottom: .5em;
}

span.date {
	font-size: .5em;
	font-family: "Karla", sans-serif;
	padding-left: 1em;
}

/* IMAGES LAYOUT */

.work {
	clear:both;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
} .work article { /* grid of images */
	text-align: center;
	float: left;
    width: 45vw;
    margin: 2vw;
    /* max-height: 200px; */
    transition: all .25s;
} article img {
	width: 100%;
	height: auto;
} article:hover {
	transform: scale(.98);
	cursor: pointer;
} 

.shadow { /* adding to square stuff */
	box-shadow: .25em .25em 0px rgba(0,0,0,.5);
}

/* POST-ITS */
.postit {
	position: fixed;
	background-color: yellow;
	color: red;
	font-family: "Yatra One", sans serif;
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 2em;
	box-shadow: .25em .25em 0px rgba(255,0,0,.5);
} .postit a{
	color: red;
	border-bottom:1px solid red;
} .postit a:hover {
	color: yellow;
}

span.ex{ /* x out button */
	font-family: "Karla", sans-serif;
	line-height: 0;
	display: block;
	position: relative;
	text-align: right;
	top: -.75em;
	right:-1em;
} span.ex:hover {
	color: white;
	cursor: pointer;
}

.intro { /* micro bio post-it */
	width: 16em;
	top:1vw;
	left:17vw;
	z-index: 2;
}

.info { /* contact info post-it */
	width: 19em;
	top: 18vw;
	left: 40vw;
	z-index: 1;
} ul.media { /* on contact post-it */
	width: 11vw;
} 

.imlooking { /* looking for work post-it */
	background: -webkit-linear-gradient(red,coral); /*that's a green */
	text-align: center;
	color: white;
	height: 6em;
	line-height: 6em;
	top: 1vw;
	right: 5vw;
	z-index: 5;
}

.haha { /* i can set type */
	text-align: center;
	background-color: #00c100;
	color: white;
	bottom: 38vh;
	width: 39em;
	left: 4vw;
	z-index: 3;
}

.seriously {
	font-family: "Karla", sans-serif;
	background-color: #ff44c4; /*stupid pink */
	color: white;
	z-index: 4;
	width: 6em;
	bottom:10vh;
	left: 18vw;
} .seriously a{
	color: white;
	border-color: white;
} .seriously a:hover {
	cursor: pointer;
	color: white;
}

/* MODAL STUFF */

.modal-ex { /* x button on modals */
	display: none;
	position: fixed;
	font-size: 2em;
	color: white;
	top: 1.5vh;
	right: 5vw;
	z-index: 105;
} .modal-ex:hover {
	color: pink;
	cursor: pointer;
}

div.screen { /* dims background */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100vw;
	height: 100vw;
	display: none;
	background-color: rgba(0,0,0,.5);
}

.caption { /* modal box */
	display: none;
	position: fixed;
	width: 70vw;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 3em;
	margin-top: 2em;
	background-color: white;
	z-index: 100;
	top: 1.5vh;
	left: 5vw;
	box-shadow: .25em .25em 0px rgba(255,0,0,.5);
} .caption img {
	width: 100%;
	padding-bottom: 1em;
	height: auto;
} .caption::-webkit-scrollbar-track { /* scrollbar styling lol */
	background-color: white;
} .caption::-webkit-scrollbar {
	width: .5em;
	background-color: white;
} .caption::-webkit-scrollbar-thumb {
	background-color: yellow;
}

.small-mode { /* for smaller size modal */
	width: 40vw;
	height: auto;
	min-height: 35vh;
	max-height: 67vh;
	left: 24vw;
}

/* COLOPHON & INFO */

.colophon {
	display: block;
	clear: both;
	padding: 3em;
	font-weight: bold;
	text-align: center;
	padding-bottom:5em;
}

a.box {
	cursor: pointer;
	transition: all .25s;
	background-color: red;
	color: white;
	padding: 2em;
	border-bottom: 0;
	box-shadow: .25em .25em 0 rgba(255,0,0,.5);
} a.box:hover {
	position: relative;
	background-color: rgb(240,0,0);
	box-shadow: none;
	top: .25em;
	left: .25em;
}

/* SIZE ADJUSTMENTS YOU FREEK */

img.small {
	width: 70%;
}
img.smaller {
	width: 50%;
}


/* BRING BACK ?? */

div.bring-back{
	position: fixed;
	display: none;
	top: 1em;
	left: 1em;
} div.bring-back span {
	color: white;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	font-weight: bold;
	display: none;
}


/* BLINK */

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

@-webkit-keyframes rotate {
  from {
  	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
.rotate
{
	animation: rotate 5s linear infinite;
	-webkit-animation: rotate 20s linear infinite;
 }